taegong-venv/
.env
src/backend/app/api/v1/endpoints/__pycache__/*
src/backend/app/core/__pycache__/*
src/backend/app/db/__pycache__/*
src/backend/app/models/__pycache__/*
src/backend/app/schemas/__pycache__/*
src/backend/app/services/__pycache__/*
src/backend/app/utils/__pycache__/*
src/backend/app/__pycache__/*
src/backend/app/api/__pycache__/__init__.cpython-312.pyc
src/backend/app/api/__pycache__/deps.cpython-312.pyc
src/backend/app/api/v1/__pycache__/__init__.cpython-312.pyc

# Local Netlify folder
.netlify

# Node modules
node_modules/
netlify/functions/node_modules/
